<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708739904997-lnj9bnjcj89m2c4r35d75vlv91lqifd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708739904997-lnj9bnjcj89m2c4r35d75vlv91lqifd2</string>
	<key>API_KEY</key>
	<string>AIzaSyCL1_N6vCtM6pSekKKNK0Te-V95iWVPRuM</string>
	<key>GCM_SENDER_ID</key>
	<string>708739904997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amigos.sos</string>
	<key>PROJECT_ID</key>
	<string>happiness-captured</string>
	<key>STORAGE_BUCKET</key>
	<string>happiness-captured.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708739904997:ios:25471842fe26e6dbbaeb0c</string>
</dict>
</plist>